$default-bg-color: #010101;
$nav-bg-color: #000;
$normal-color: #f5f5f7;
$bold-color: #fff;
$link-color: #2997ff;
$small-color: gray;

@mixin info-list-n{
  width: 100%;
  li{
    text-align: left;
    color: $normal-color;
    font-size: 11px;
    a{
      color: $normal-color;
      opacity: 0.7;
      font-size: 11px;
      &:hover{
        opacity: 1;
        text-decoration: underline $normal-color;
      }
    }
  }
  .bold{
    font-weight: bold;
  }
}
